@import url('https://fonts.googleapis.com/css?family=Archivo Black');

*{
    margin: 0;
    padding: 0;
  
}


.contenedor{    

    width: 100%;
    height: 700px;
}
.cabecera{
    font-family: 'Archivo Black',sans-serif;
    float:left;
    min-height:0vh;
    width:40%;
    overflow: hidden;

    
}
.cabecera:first-child{
    align-items:center;
    display:flex;
    justify-content:left;
    position:relative;
    
}
.cabecera:first-child .fondo{
    
    width: 100%;
    height: 700px;
    display: inline-block;
}

.ima{
    width: 100%; 
    max-height: 100%;
    
}
.cabecera:nth-child(2){
    
    width: 60%;
    height: 700px;
    padding: 2em;
    display: inline-block;
}
h1{
    padding: 10px 0px 10px;
}
h2{
    padding: 10px 0px 0px;
}

.col:nth-child(1){
    padding: 0px 0px 20px; 
}





.btn-ghost{
    font-family: 'Archivo Black',sans-serif;
    position: relative;
    display: inline-block;
    border: 2px solid rgb(31, 240, 24);
    padding: 10px 80px;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(31, 240, 24);
    font-size: 0.8em;
    margin-bottom: 30px;
}
.btn-ghost.round{
    font-family: 'Archivo Black',sans-serif;
    border-radius: 30px;
    
}
.btn-ghost.sec{
    font-family: 'Archivo Black',sans-serif;
    background-color: transparent;
    color:rgb(31, 240, 24);
}

.logreg{
    color:rgb(31, 240, 24);
}

@media screen and (max-width:500px){
    .cabecera:first-child .fondo{
        max-width: max;
    }
    .cabecera:nth-child(2){
        max-width: max;
    }
}
